* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #EDEDED;
    width: 100%;
    padding: 0;
}
/* 這是開頭 */

div#wrapper {
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: black;
}

header ul {
    margin-right: 15em;
    text-align: right;
}

header li {
    display: inline-block;
    list-style: none;
    font-size: 0.8em;
}

.button {
    color: #CDCFD3;
    border: none;
    float: right;
    text-decoration: none;
    background-color: black;
    padding: 1.25em 1em;
}

.button:hover{
    color: white;
}

/* 中間部分 */

div#content {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 2em 3%;
    text-align: center;
}

/* 頁尾 */
footer {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    padding: 0.8em;
}

footer p{
    font-size: 1.2em;
    color: white;
    text-align: center;
}