* {
    box-sizing: border-box;
    margin: 0 0 0 0px;
}

body {
    background-color: #EDEDED;
    width: 100%;
    padding: 0;
}

div#wrapper {
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: black;
}

    header ul {
        margin-right: 15em;
        text-align: right;
    }

    header li {
        display: inline-block;
        list-style: none;
        font-size: 0.8em;
    }

        header li a {
            display: block;
            color: #CDCFD3;
            text-decoration: none;
            padding: 1.5em 1em;
            border-radius: 5px;
        }

a:hover {
    color: white;
}

div#content {
    width: 50%;
    margin: 0 auto;
    padding: 2em 3%;
    text-align: center;
}


